* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  margin: 65px 120px;
  border: 1px solid blue;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

ol {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 49px;
  width: 490px;
}
